@import "tailwindcss";

.outfit {
  font-family: "Outfit", sans-serif;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

.source-serif {
  font-family: "Source Serif 4", serif;
}

button {
  cursor: pointer;
}

